.modal {
  .modal-content {
    display: flex;
    justify-content: center;
    font-weight: bold;
    .private-content {
      .secrect {
        color: red;
      }
      font-size: 15px;
    }

    .close {
      display: inline-block;
      margin-left: 10px;
    }
  }
}
