.nav-text-input {
  height: 30px;
  width: 90%;
  border: none;
  text-align: center;
  outline: 0;
}
.search-icon {
  object-fit: cover;
  padding: 5px;
  cursor: pointer;
  width: 10%;
  border: none;
  border-radius: 5px;
}
